.counter-section .container {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.counter-section .counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
  margin-top: 20px;
  background-color: #a3872d;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 3px solid #fff;
  backdrop-filter: blur(10px);
}

.counter-section .counter {
  font-size: 60px;
  font-family: "Yanone Kaffeesatz";
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 3px;
  margin: 10px 0;
}

.counter-section h6 {
  font-size: 28px;
  font-family: "Yanone Kaffeesatz";
  font-weight: 100;
  text-align: center;
  line-height: 35px;
  padding-top: 20px;
  letter-spacing: 3px;
}

@media (max-width: 700px) {
  .counter-section .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counter-section .counters .container > div:nth-of-type(1),
  .counter-section .counters .container > div:nth-of-type(2) {
    border-bottom: 1px solid rgb(247, 247, 247);
    padding-bottom: 20px;
  }
}
