.landing-page .body {
  position: relative;
  height: 100vh;
  display: flex;
  background-image: url("https://img.freepik.com/free-photo/top-view-food-assortment-with-copy-space_23-2148859555.jpg?t=st=1730962269~exp=1730965869~hmac=0227771c3d316512bfea6d08a9e5169621c06e711f674a5895147c73dcc1adeb&w=1380");
  justify-content: center;
  align-items: center;
  background-size: cover;
  object-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 1px solid #a3872d;
}

.landing-page .underlined {
  position: relative;
}

.landing-page .underline-overflow {
  display: inline-block;
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.landing-page .underline-overflow:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid hsl(54, 76%, 68%);
}

.landing-page .overlay {
  position: absolute;
  margin-top: 20vh;
  margin-left: 500px;
  width: 75%;
  height: 54vh;
  z-index: 100;

  background-color: #a3872d;

  h1 {
    font-size: 50px;
    text-align: center;
    line-height: 120px;
    font-family: "Bad Script", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
}

.landing-page .text {
  font-size: 100px;
  display: flex;
  position: absolute;
  bottom: 75vh;
  left: 65%;
  transform: translateX(-50%);
  user-select: none;
  font-family: "Yanone Kaffeesatz", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #a3872d;

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    .letter {
      transition: ease-out 1s;
      transform: translateY(40%);
    }
    &:hover {
      .letter {
        transform: translateY(-20%);
      }
    }
  }
}
