.otherservice-section .container {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.otherservice-section .services .container {
  margin-top: 20px;
  background-color: #a3872d;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 3px solid #fff;
  backdrop-filter: blur(10px);
  justify-content: flex-start;
}

.listItemText .MuiListItemText-primary {
  font-size: 26px !important;
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-weight: 600 !important;
  text-align: left !important;
  line-height: 20px !important;
  letter-spacing: 3px !important;
}

.listItemText .MuiListItemText-secondary {
  font-size: 18px !important;
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-weight: 400 !important;
  text-align: left !important;
  line-height: 15px !important;
  padding-top: 10px;
  color: #fff;
}

.listItemAvatar {
  background-color: #f7f2c5 !important;
}
.listItemIcon {
  color: #a3872d !important;
}

@media (max-width: 700px) {
  .otherservice-section .services .container > div:nth-of-type(1),
  .otherservice-section .services .container > div:nth-of-type(2) {
    border-bottom: 1px solid rgb(247, 247, 247);
    padding-bottom: 20px;
  }
}
