.otherservice-section .container {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.otherservice-section .services .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
  background-color: #a3872d;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 3px solid #fff;
  backdrop-filter: blur(10px);
}

@media (max-width: 700px) {
  .otherservice-section .services .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .otherservice-section .services .container > div:nth-of-type(1),
  .otherservice-section .services .container > div:nth-of-type(2) {
    border-bottom: 1px solid rgb(247, 247, 247);
    padding-bottom: 20px;
  }
}
