.service-section img {
  margin: 0px;
  width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
  padding: 30px; /* 2 * frame size (15px) */
  background:
    linear-gradient(#ebdf6f 2px, #0000 0 calc(100% - 2px), #ebdf6f 0) 50% / 100%
      100% no-repeat,
    linear-gradient(90deg, #ebdf6f 2px, #0000 0 calc(100% - 2px), #ebdf6f 0) 50% /
      100% 100% no-repeat;
  outline: 150px solid #0009; /* width / 2 */
  outline-offset: -180px; /* -1 * width / 2 - 2 * frame size */
  transition: 0.4s;
  cursor: pointer;
}

.service-section img:hover {
  outline: 2px solid #ebdf6f;
  outline-offset: -7.5px; /* -1 * frame size / 2 */
  background-size: calc(100% - 30px) calc(100% - 30px); /* 100% - 2 * frame size */
}
