:root {
  --color-primary: hsl(230, 30%, 15%);
  --color-secondary: #181b46;
}

blockquote {
  border-left: 100px solid;
  margin-left: 20px;
  font-family: "Yanone Kaffeesatz";
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 3rem 1rem 2rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    5deg,
    var(--color-primary),
    var(--color-secondary)
  );

  p {
    margin-left: 50px;
  }
}
